<div class="fluid-container" id="main-content">
  <div class="container">
    <div class="row with-space">  
      <% @pots.each do |pot| %>
        <div class="span3">
          <div class="tile pots">
            <h3><%= pot.name %></h3>
            <small class="subheading">erstellt von <%= pot.users.first.name %></small>
            <%= link_to "Anzeigen", pot, class: "btn btn-primary btn-large btn-block" %>
          </div>
        </div>
      <% end %>
      <div class="span3">
        <div class="tile new_pot pots">
          <h3>Neuer Pott</h3>
          <small class="subheading">Für dich und deine Freunde</small>

          <%= link_to 'Erstellen', new_pot_path, class: "btn btn-large btn-block btn-primary" %>
        </div>
      </div>
    </div>
    <div class="row with-space">
      <div class="span3">
      </div>
    </div>
  </div>
</div>