.pots {
  border:3px dashed #EDF0F5;

  .illustrations, .new_pot_plus span {
    max-height:100px;
    background:#fff;
    padding:10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;

    border-radius:100px;
  }

  &.new_pot {
    border:3px dashed #374A5D;
    margin-left:1em;
    .new_pot_plus {
      width:100%;
      text-align: center;
      height:100px;
      font-size:4em;

      span {
        height:100px;
        width:100px;
        padding:0.37em 0 0 0;
        margin:0 auto 0 auto;
        display:block;
        // margin:1em 0 1em 0;
      }
    }
  }
}

body {
  .new_link_form {
    header {
      margin: 0 0 1em 43px !important;

      h3 {
        display:inline;
      }

      .bookmarklet {
        float:right;
        margin:1em 1.5em;
      }
    }
  }

  p.no_links {
    margin-top:1em;
    text-align:center;
    text-transform: none;
    line-height: 1.5em;
  }
}