
body#sign_in {
  background:#34495e;
  

	.login-screen {
	  margin:0 auto;
	  padding:0;
	  width:359px;
	  color:#2C3E50;
	  background:#34495e;
	}

	.login-form {
		h2 {
			margin:-0.2em 0 0.9em 0;
		}
		&:before {
			display:none;
		}
	}

	// .login-icon {
	//   margin-left:-130px;
	//   top:auto;
	//   left:auto;
	// }

	.login-links {
		width: 100%;
		text-align:center;
		* {
			color: #999;
		}
	}
}