<nav class="account_links top_nav">
  <ul>
    <li>
      <%= link_to raw('<span class="fui-man-24"></span> ' + current_user.name), "#", class: "" %>
      <ul>
        <li>
          <%= link_to "Profil", user_registration_path%>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, class: "", method: :delete  %>
        </li>
      </ul>
    </li>
  </ul>
</nav>